<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>🛒 Grocery Products</h2>

<div class="container">
    {% for product in products %}
    <div class="card">
        <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="">
        <h3>{{ product.name }}</h3>
        <p>₹ {{ product.price }}</p>
        <button>Add to Cart</button>
    </div>
    {% endfor %}
</div>

</body>
</html>