<!DOCTYPE html>
<html>
<head>
    <title>Signup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="form-container">
    <h2>Signup</h2>
    <form onsubmit="saveUser(event)">
        <input type="text" placeholder="Name" required>
        <input type="email" placeholder="Email" required>
        <input type="password" placeholder="Password" required>
        <button>Signup</button>
    </form>
</div>

<script>
function saveUser(e){
    e.preventDefault();

    let name = document.querySelector("input[type=text]").value;
    let email = document.querySelector("input[type=email]").value;

    localStorage.setItem("user", JSON.stringify({name,email}));

    alert("Signup successful!");
    window.location.href = "/login";
}
</script>

</body>
</html>